$colors: (
  primary: (
    red: hsl(7, 99%, 70%),
    yellow: hsl(51, 100%, 49%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    300: hsl(210, 4%, 67%),
    400: hsl(232, 10%, 55%),
    600: hsl(213, 9%, 39%),
    800: hsl(212, 27%, 19%),
  ),
  text: (
    500: hsl(168, 34%, 41%),
    700: hsl(167, 40%, 24%),
    750: hsl(198, 62%, 26%),
  ),
);
