@use "../abstracts" as *;
.hero {
  padding-block: 5em 6em;
  grid-column: 1/-1;
  height: 25.3em;
  display: grid;
  grid-template-columns: inherit;
  row-gap: size(12);
  justify-content: center;
  & > * {
    grid-column: 1/-1;
    text-align: center;
  }
  &__title {
    font-family: $ff-heading;
    font-size: fs(600);
    font-weight: $fw-900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.2ch;
    color: clr(neutral, 100);
  }
  &__arrow {
    margin-inline: auto;
    animation: bobbing 700ms infinite alternate;
  }
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
